@model  IEnumerable<OdeToFood.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}
@Html.ActionLink("Add New Restaurant","Create")
<h2>List Of Restaurants</h2>
<hr />
@foreach(var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <h5>@item.City, @item.Country</h5>
        <hr />
    </div>
}
